
/* SearchList content should be scrollable */
/* list should not have bullets */
.search-list ul {
    overflow-y: scroll;
    height: 130px;
    width: 100%;
    list-style-type: none;
    text-align: left;
    padding: 0;
    cursor: pointer;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(193, 193, 193, 0.5) transparent;

}


.search-list:hover {
    scrollbar-width: thin; /* Show scrollbar on hover */
    overflow: auto;
    scrollbar-color: rgba(230, 230, 230, 0.5) transparent;
}

.search-list input {
    position: relative;
    top: 0;
    border-radius: 2px;
}

.search-list input:focus {
    outline: none;
}

button.integrationsSearch  {
    padding: 10px 0px;
    border-radius: 2px;
    width: 95%;
}

button:last-child.integrationsSearch  {
    border-bottom: none;
}

.integrationsSearch button:hover {
    background-color: #2d2d2d;
}
